WebWS/Web References/LlavesWS/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.woodgroup.com.co/LlavesWS/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:import schemaLocation="http://www.woodgroup.com.co/LlavesWS/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:element name="GetRegistrarLlavePublica">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="pub" nillable="true" type="q1:Registrar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistrarLlavePublicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetRegistrarLlavePublicaResult" nillable="true" type="q2:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidarTexto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="val" nillable="true" type="q3:Validar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidarTextoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="GetValidarTextoResult" type="q4:HttpStatusCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCifrarTexto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="pub" nillable="true" type="q5:Cifrar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCifrarTextoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetCifrarTextoResult" nillable="true" type="q6:Cifrado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>